.container {
    background-color: lightpink;
    padding: 0px;
    overflow: hidden;
    height: calc(100vh - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
