.container {
    background-color: lightpink;
    padding: 0px;
    overflow: hidden;
    height: calc(100vh - 15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font-family-head);
}