.tooltip {
	border-radius: 8px;
	padding: 5px 8px;
	width: fit-content;
	font-family: var(--font-family-content);
	color: white;
	display: flex;
	align-items: center;
	pointer-events: none;
	opacity: 0;
  	transition: opacity 0.1s ease-out;
}

.tooltip--visible {
	opacity: 1;
}

.wrapper {
	width: 100%;
}